{
  "extends": "formidable/configurations/es6-node",
  "rules": {
    "quotes": ["error", "single"],
    "arrow-parens": "off",
    "no-console": "off",
    "space-before-function-paren": "off",
    "max-nested-callbacks": ["error", 5]
  },
  "env": {
    "node": true,
    "mocha": true
  }
}
